Cookies
*-journal
languagepacks.json
machineid
Network Persistent State
QuotaManager
storage.json
TransportSecurity
rapid_render.json

Backups/
blob_storage/
Cache/
CachedData/
CachedExtensions/
Code Cache/
Crashpad/
databases/
Dictionaries/
GPUCache/
Local Storage/
logs/
Service Worker/
Workspaces/
User/globalStorage
User/snippets
User/workspaceStorage
Session Storage/
CachedExtensionVSIXs/
User/History/
DawnGraphiteCache/
DawnWebGPUCache/
Network/
CachedProfilesData/
Shared Dictionary/

SharedStorage*
*.sublime-workspace
code.lock
Local State
Preferences
